
body {
  background-color: rgba(235, 235, 235);
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;

}


/*--------------------NAV BAR STYLING ------------------*/
a {
  color: white;
  font-size: 18px;
}

#header-wrap {
  display: flex;
  flex-direction: row;
}

#header-card {
  display: flex;
  z-index: 5;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background: rgb(63 181 219);
  width: fit-content;
  padding: 10px;
  /* box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px; */
  box-shadow: rgb(0 0 0 / 18%) 8px 0px 4px;

}

#button-search,
#show-forecast, #save-current-city {
  background: rgba(255, 166, 48);
  border: none;
  padding: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

nav {
  display: inline;
  padding-bottom: 10px;
  margin-bottom: 8px;

  /* flex-grow: 1; */
}

nav>a {
  padding-right: 10px;
}

div>input {
  background: rgba(235, 235, 235);
  border: none;
  padding: 10px 0;
  text-align: center;
}


#saved-city-weather {
  display: flex;
  flex-direction: row;

  align-items: baseline;

}

#show-forecast {
  margin-left: 15px;
}

#saved-city-weather>h1 {
  color: rgba(235, 235, 235);
}

/*-------------------- END NAV BAR STYLING ------------------*/
/*changes need to be added do media query if they exist*/
#intro {
  margin: 20px 0;
  background: linear-gradient(to bottom, rgb(0 187 247 / 74%),rgb(255, 255, 255) ,rgb(255 107 0 / 36%));
  color: rgba(235, 235, 235);
  padding: 10px;
  /* font-size: 18px; */
  text-align: center;
  border-radius: 0 30px 30px 0;
}
/*changes need to be added do media query if they exist*/

#intro>p {
  background-color: rgb(255 255 255 / 10%);
  padding: 39px;
  color: #344856;
  border-radius: 30px;
}


#current-day-weather {
  background-color: rgb(241, 119, 32, 50%);
  padding: 1em 0;
  margin: 0 auto;
  width: fit-content;
}

#current-card {
  line-height: 1.5;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: fit-content;
  background-color: rgb(241, 119, 32, 70%);

  

  color: white;

}

#uvi-color {
  margin: 0 auto;
  width: 20px;
  height: 20px;
}

#daily-forecast-card-wrapper {
  margin: 1em 0;
  background-color: rgb(0, 167, 225, 50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

p {
  padding: 0;
  margin: 0;
}

#daily-card {
  line-height: 1.5;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: fit-content;
  background: rgb(0, 167, 225, 90%);
  color: white;
  flex-grow: 1;
}

summary > p {
  background-color: black;
}

footer {
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  background-color: rgba(4, 116, 186);
  color: white;
}

@media only screen and (max-width: 1150px) {
  #header-wrap {
    flex-direction: column;
  }
  #header-card {
    margin: 0 auto;
    border-radius: 24px 0;
  }

}
