/* Global */


h3, h4, p{
  margin: 0 auto;
  padding: 2px;
}

/* NAV STYLING */
nav {
  background-color: black;
  padding: 20px;
  color: white;
  min-width: 550px;
}

nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  color: white;
}

/*formatting for search bar*/
#search-bar-header {
  width: 45%;
  text-align: center;
  border: 1px solid black;
  min-width: 550px;
  margin: 10px auto;
}

#three-day-forecast {
  display: flex;
  flex-wrap: wrap;
}

#current-card-list {
  margin: 0px 10px 10px 10px;
  border: 1px solid black;
}

/* Media Queries for screen size */
@media only screen and (max-width: 1000px){
  nav li{
    width: 40%;
  }

}

@media only screen and (max-width: 600px){
  nav li{
    display: grid;
    width: 50%;
  }
  .weather-banner {
    white-space: normal;
  }
}
