/* NAV STYLING */
nav {
  background-color: black;
  padding: 20px;
  color: white;
  min-width: 550px;
}

nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  color: white;
}

/*formatting for search bar*/
#search-bar-header {
  width: 45%;
  text-align: center;
  border: 1px solid black;
  min-width: 550px;
  margin: 10px auto;
}

/* Wrapper for our graphs */
#sh-wrapper,
#wh-wrapper,
#sl-wrapper {
  display: grid;
  grid-template-columns: repeat(121, 1fr);
  align-items: end;
}

/* Wrapper for our graphs */
#swell-graph,
#wave-graph,
#sea-level-graph {
  background-color: aqua;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}

/*on hover properties for our swell height and wave height graphs*/
#swell-graph:hover,
#wave-graph:hover {
  z-index: 99;
  width: 12px;
  margin-bottom: 6px;
}

/*swell height data*/
#swell-data {
  margin: 1em;
}

/*on hover of a div title this will show the text in a larger format*/
div[title]:hover::after {
  content: attr(title);
  font-size: 25px;
  background-color: #36e9e7;
  color: white;
  padding-right: 4px;
  box-shadow: 0 0 1px 1px #02c1bf;
}

/* Media Queries for screen size */
@media only screen and (max-width: 1000px){
  nav li{
    width: 40%;
  }

}

@media only screen and (max-width: 600px){
  nav li{
    display: grid;
    width: 50%;
  }
  .weather-banner {
    white-space: normal;
  }
}
