/* NAV STYLING */
nav {
  background-color: black;
  padding: 20px;
  color: white;
  min-width: 550px;
}

nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  color: white;
}

/*formatting for search bar*/
#search-bar-header {
  width: 45%;
  text-align: center;
  border: 1px solid black;
  min-width: 550px;
  margin: 10px auto;
}

/* Wrapper for our graphs */
#sh-wrapper, #wh-wrapper {
  display: grid;
  grid-template-columns: repeat(241, 1fr);
  align-items: end;
}

/* Wrapper for our graphs */
#swell-graph, #wave-graph{
    background-color: aqua;
    border-right: 1px solid rgba(255, 255, 255, .7);
}

#swell-graph:hover, #wave-graph:hover {
    z-index: 99;
    width: 12px;
    margin-bottom: 6px;
}

#swell-data{
    margin: 1em;
}


div[title]:hover::after {
    content: attr(title);
    font-size: 2em;
    background-color: black;
    color: white;
    
  }
