/* This css is mobile styling FIRST any media queries below will be for websites only and increased window width */


/* global variables declared here */
:root {
  --globalBorder: 3px solid rgba(255, 150, 100, 1);
  --boxFadeShadow: rgba(255, 150, 100, 0.4) 0px 2px, rgba(255, 150, 100, 0.3) 0px 4px, rgba(255, 150, 100, 0.2) 0px 6px, rgba(255, 150, 100, 0.1) 0px 8px, rgba(255, 150, 100, 0.05) 0px 10px;
}

body {
  border: 1px solid black;
  padding: 5px;
}

/*---------------------------------- BEG. BUTTON STYLING */
button {
  background-color: rgba(255, 183, 150, 0.8);
  border: none;
  border-radius: 5px;
}

button:hover {
  box-shadow: 3px -4px 7px 1px grey;
  cursor: pointer;
}

#button-search {
  padding: 4px 12px;
}
/*---------------------------------- END BUTTON STYLING */


/*-------------------------------- NAV STYLING */
nav {
  background-color: black;
}

nav,
nav>a {
  color: rgba(255, 150, 100, 1);
  text-align: center;
  padding: 2em 0;
  font-size: 1.5em;
}

/*------------------------------- SEARCH BAR STYLING  */
#search-bar-header {
  text-align: center;
  border: 1px solid black;
}

#search-bar-header > button {
  margin-bottom: 2em;
}

/*------------------------------- SAVED CITY  */

.weather-banner > #saved-city-weather {
  width: 50%;
  margin: 0 auto;
}

#saved-city-weather {
  text-align: center;
}

.saved-city {
  box-shadow: 0px 0px 1px;
  padding: 2px;
  margin: 10px 5px;
}

.saved-city > h4 {
  background-color: rgba(236, 110, 76, .2);
  color: black;
  padding: 3px;
  margin: 1px;
}

#show-forecast {
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: var(--boxFadeShadow);
}


/*------------------------------- END SAVED CITY  */

/*------------------------------- BEG. OF CURRENT CONDITIONS  */
#current-day-weather-info {
  text-align: center;
  box-shadow: 0px 0px 1px;
  padding: 2px;
  margin: 10px 5px;
}

/* Add Grid to Current Weather Display */
.weather-info-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* apply flex properties to div children in current weather card */
.weather-info-wrapper > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#current-day-weather-info > button {
  padding: .5em 1em;
  margin: 1em;
  box-shadow: var(--boxFadeShadow);
}

#current-day-weather-info > button:hover {
  box-shadow: none;
  transition: 2s;
}




/*------------------------------- END OF CURRENT CONDITIONS  */

/*------------------------------- BEG. OF FIVE DAY */
#forecast-title {
  text-align: center;
  font-size: 1.5em;
  margin: 10px;
  text-shadow: 1px 1px 1px orange;
}

#daily-forecast-card-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;

}

#daily-forecast-card-wrapper > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* STYLING FOR ASIDES - puts them next to each other*/
.weather-banner {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}


/*styling for our current display card and our saved city display card*/


/* h4 titles for our weather information */
#current-day-weather-info h4,
#daily-forecast-card-wrapper h4 {
  background-color: rgba(236, 110, 76, .2);
  color: black;
  padding: 3px;
  margin: 1px;
}





/* styling for our uvi color holder */
#uvi-color {
  width: 20px;
  height: 20px;
  border-radius: 150px;
  margin: 0 auto;
}

/* Media Queries for screen size */
@media only screen and (max-width: 1000px) {


}

@media only screen and (max-width: 600px) {

}